@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0;
  background-color: #da99ff;
  background-image: radial-gradient(at 88% 0%,  
  hsla(327, 67%, 64%, 1) 0px,
    transparent 50%),
  radial-gradient(at 63% 46%, hsla(307, 76%, 61%, 1) 0px, transparent 50%),
  radial-gradient(at 95% 53%, hsla(89, 91%, 67%, 1) 0px, transparent 50%),
  radial-gradient(at 79% 83%, hsla(170, 86%, 65%, 1) 0px, transparent 50%),
  radial-gradient(at 74% 93%, hsla(71, 93%, 75%, 1) 0px, transparent 50%),
  radial-gradient(at 52% 13%, hsla(110, 83%, 72%, 1) 0px, transparent 50%),
  radial-gradient(at 30% 80%, hsla(263, 79%, 66%, 1) 0px, transparent 50%);
  color: #000;
  font-family: 'Ubuntu';
}

@media (width >= 500px) {
  body {
    padding: 0;
  }
}



